# Database
DATABASE_URL=postgresql://<username>:<password>@<host>:5432/<database_name>

# Application
SECRET_KEY=your_secret_key
DEBUG=True
API_KEY=your_api_key

# AWS
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1

# Feature Flags
AWS_DEMO_MODE=false
DATABASE_READY=true

# Bedrock
BEDROCK_MODEL_ID=your_bedrock_model_id
